<header class="center-block">
  <a href="{{ site.baseurl }}/" class="title">
    <span class="aside">the</span> {{ site.title }} <span class="aside">podcast</span>
  </a>
  <p id="description">{{ site.description }}</p>
  <div class="links">
    <a class="button" href="https://podcasts.apple.com/au/podcast/almost-logical/id1526675484">Apple Podcasts</a>
    <a class="button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbG1vc3Rsb2dpY2FsLm5ldC9mZWVkLnhtbA">Google Podcasts</a>
    <a class="button" href="https://overcast.fm/itunes1526675484">Overcast</a>
    <a class="button" href="https://pca.st/itunes/1526675484">Pocket Casts</a>
    <a class="button" href="https://castro.fm/itunes/1526675484">Castro</a>
    <a class="button" href="/feed.xml">RSS</a>
  </div>
</header>
